.sort {
  height: 30px;
  background-color: #eee;
  line-height: 30px;
}
.sort a {
  float: left;
  font-size: 12px;
  text-align: center;
  width: 25%;
  color: #666;
}

.sort a.current {
  color:darkorange;
}